body {
  background-color: #000000;
}

#musicPlayer {
  position: relative;
  z-index: 2;
  margin: auto;
  color: white;
}

canvas {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  margin: auto;
}
